<% if recipes %>
  <div class="row">
    <% @recipe.each do |recipe| %>
      <div class="recipe">
        <div class="col-xs-6 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= link_to image_tag(recipe.image.url,:class => "img-responsive center-block "), recipe %>
            </div>
            <div class="panel-body">
              <div class="recipe_title"><%= link_to recipe.title, recipe %></div>
              <div class="recipe_discription">
                <%= recipe.description %>
              </div>
            </div>
            <div class="time_stamp"><%= recipe.updated_at.strftime('%Y/%m/%d') %>  </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>