<h1><%= @recipe.title %>の編集</h1>

<div class="panel panel-defaut">
  <div class="panel-body">
    
   <%= render 'form' %>
   </br>
   <%= link_to '戻る', recipe_path, class: 'btn btn-default' %>
    
  </div>
</div>
