<h2 class="text-center">レシピの新規作成</h2>
<div class="panel panel-defaut">
  <div class="panel-body">
    
    <%= render 'form' %>
    </br>
    <%= link_to '戻る', root_path, class: 'btn btn-default' %>

  </div>
</div>
