body {
  padding-top: 70px;
}
.recipe .panel-heading img {
  width: auto;
  height: 100%;
  -webkit-transition: all .3s ease-out;
 	  -moz-transition: all .3s ease-out;
 	  -o-transition: all .3s ease-out;
     transition: all .3s ease-out;
 		
}
.recipe img:hover {
 	transform: scale(1.06);
}
.recipe .panel-heading {
  height: 300px;
  background-color: white;
}

